@import url('https://fonts.googleapis.com/css?family=Roboto:100');

html
  margin 0
  padding 0

body
  margin 0
  padding 0
  font-family Roboto, Tahoma, Arial, sans-serif
  font-size 10px
  display flex
  justify-content center
  align-items center
  align-content center

  #app
    width 300px
    padding 10px

    h1
      font-size 2rem
      line-height 1.5em
      margin 0
      padding 0
      font-weight normal
